@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body,
html,
#root {
  height: 100%;
}

/* My Chats */

#addContactButton {
  background-color: var(--lightGray);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
